@use "base";

body {
    font-family: "IBM Plex Sans", sans-serif;
    accent-color: base.$accent;

    margin: 0;
    min-height: 100vh;

    line-height: 1.4;

    --text: black;
    --background: #ffffff;
    --background-light: #eee;
    --link: rgb(2, 95, 189);
    --link-visited: rgb(89, 2, 189);

    background-color: var(--background);
    color: var(--text);
}

.dark-theme {
    color-scheme: dark;

    --text: whitesmoke;
    --background: #222;
    --background-light: #333;

    --link: rgb(132, 179, 226);
    --link-visited: rgb(188, 140, 243);
}

a:link {
    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

a:active {
    filter: brightness(120%);
}

.link {
    border: none;
    background: inherit;
    font: inherit;

    color: var(--link);
    text-decoration: underline;

    cursor: pointer;

    &:active {
        filter: brightness(120%);
    }
}


*, *::after, *::before {
    box-sizing: border-box;
}

.badge {
    background-color: base.$accent;
    color: white;
    padding: 0.16em 0.48em;
    border-radius: 1em;
    font-weight: bold;
    font-size: 0.8em;
    * {
        vertical-align: middle;
    }

    &.green {
        background-color: base.$secondary-green;
    }

    &.red {
        background-color: base.$secondary-red;
    }

    &.blue {
        background-color: base.$secondary-blue;
    }
}

.layout {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;
}

input:invalid {
    outline: 2px solid red;
}

code {
    font-size: 1rem;
}
